body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgba(95, 114, 189,0.8), rgba(155,35,234,0.7))
    ,url(img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.logo {
    height: 150px;
    margin-top: 20px;
}

.bootlogo {
    height: 300px;
}

.pregunta{
    margin-top: 100px;
}

.colegio{
    margin-top: 40px;
}

a.fab{
    color: #fff;
    font-size: 50px;
    margin: 40px 50px;
}